body{
  font-family: 'Gentium Book Basic', serif;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  max-width: 820px;
  margin: 20 auto;
  color: #1e4355;
}
a > img {
  height: 64px;
}
* {
  box-sizing: border-box;
}
ul{
  list-style: none;
}
li{
  margin-bottom: 25px;
}
h3{
  margin-left: 10px;
}
hr{
  border-color: #123141;
}
p{
  font-size: 18px;
}
.border{
  border: 3px solid #1e4355;
  border-radius: 5px;
}
.logo{
  margin-left: 10px;
}